<!DOCTYPE html>
<html>
  <head>
    <title>Me Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <div>Hi</div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>11</td>
          <td>Adum</td>
          <td>adam@banana.com</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

