<tr>
  <td colspan="2">
    <form id="newForm" hx-patch="/admin/users/{{.ID}}" hx-target="#userItem_{{.ID}}" hx-swap="outerHTML">
      <input type="hidden" name="id" value="{{.ID}}" /><br/>
      <label>
        Name<br/>
        <input type="text" name="name" value="{{.Name}}" /><br/>
      </label>
      <label>
        Email<br/>
        <input type="text" name="email" value="{{.Email}}" />
      </label>
      <button type="submit">Update User</button>
      <button type="button" hx-get="/admin/users/cancel" hx-target="#appendNewUser" hx-swap="outerHTML">Cancel</button>
    </form>
  </td>
</tr>
